<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/show.css">
    <title>shareNow download</title>

</head>
<body>
    <div class="container">
      <a href="/">
        <img   class="logo" src="/img/Share Proton.png" alt=""> 
      </a>
     
      
  <div class="inner_container">
    <a class="github_repo" href="https://github.com/Sourbhrajput" target="_blank"><img class="github" src="/img/github_PNG85.png"  draggable="false" alt="">Github Repository</a> 
 <div class="content content_not">
   
   <h1 class="txt-download"> Your file is not found</h1>
 <img  class="download_img" src="/img/pngwing.com.png" draggable="false" alt="">
<br>
<a href="/" class="download_btn not_btn ">Upload Again</a>
  <h3> Link expired  !!!!</h3>
</div>

     </div>
    </div>
</body>
</html>